<nav class="navbar">
  <div class="navbar-left">
    <a routerLink="/" class="logo">Alert<span>SIG</span></a>
  </div>

  <div class="navbar-right">
    <a routerLink="/" class="nav-link">🗺 Carte</a>

    <ng-container *ngIf="currentUser; else notLoggedIn">
      <a *ngIf="isAdmin()" routerLink="/admin" class="nav-link">⚙ Admin</a>
      <span class="user-badge">{{ currentUser.prenom }}</span>
      <button class="btn-logout" (click)="logout()">Déconnexion</button>
    </ng-container>

    <ng-template #notLoggedIn>
      <a routerLink="/login" class="btn-login">Connexion</a>
    </ng-template>
  </div>
</nav>