<div class="carte-container">

  <!-- Carte Leaflet -->
  <div id="map"></div>

  <!-- Panel détail incident -->
  <div class="detail-panel" [class.open]="selectedIncident">
    <div class="detail-header" *ngIf="selectedIncident">
      <div>
        <div class="detail-icon">{{ selectedIncident.type_emoji }}</div>
        <div class="detail-type">{{ selectedIncident.type_libelle }}</div>
        <div class="detail-time">{{ selectedIncident.created_at | date:'dd/MM/yyyy HH:mm' }}</div>
      </div>
      <button class="close-btn" (click)="fermerDetail()">✕</button>
    </div>

    <div class="detail-body" *ngIf="selectedIncident">
      <div class="detail-section">
        <div class="detail-row">
          <span class="key">Statut</span>
          <span class="val">{{ getStatutLabel(selectedIncident.statut) }}</span>
        </div>
        <div class="detail-row">
          <span class="key">Sévérité</span>
          <span class="val">{{ getSeveriteLabel(selectedIncident.severite) }}</span>
        </div>
        <div class="detail-row">
          <span class="key">Signalé par</span>
          <span class="val">{{ selectedIncident.signale_par_nom }}</span>
        </div>
        <div class="detail-row">
          <span class="key">Confirmations</span>
          <span class="val">{{ selectedIncident.nb_confirmations }}</span>
        </div>
      </div>

      <div class="detail-section">
        <div class="detail-row">
          <span class="key">Adresse</span>
          <span class="val">{{ selectedIncident.adresse }}</span>
        </div>
        <div class="detail-row">
          <span class="key">Quartier</span>
          <span class="val">{{ selectedIncident.quartier }}</span>
        </div>
      </div>

      <div class="detail-section" *ngIf="selectedIncident.description">
        <p class="description">{{ selectedIncident.description }}</p>
      </div>

      <div class="zone-critique-badge" *ngIf="selectedIncident.est_zone_critique">
        🚨 Zone critique — {{ selectedIncident.nb_incidents_proches + 1 }} incidents dans 1km
      </div>
    </div>
  </div>

</div>